body{
  background-color: rgb(227, 215, 215);
}
#start{
  background-color: rgb(59, 143, 59);
  border-radius: 5px;
  border: none;
  color:white;
  width:50px;
  cursor:pointer;
}
.s{
  font-size: 50px;
  text-decoration:wavy;
}
#stop{
  color:white;
  background-color: Red;
  border: none;
  color:white;
  width:50px;
  border-radius: 5px;
  cursor:pointer;
}
#reset{
  color:white;
  background-color: rgb(0, 124, 111);
  border: none;
  color:white;
  width:50px;
  border-radius: 5px;
  cursor:pointer;
}
#display{
  font-size: 50px;
}
#box{
  border: 20px solid black;
  border-radius: 50px;
  width:300px;
  height:100px;
  padding: 30px;
  background-color: rgb(136, 142, 142);
}